.container {
  width: 100vw;
  height: 100vh;
  background: black;
  overflow: hidden;
  position: relative;
}

.hint {
  position: absolute;
  bottom: 60px;
  width: 100%;
  text-align: center;
  color: #cfcfff;
  font-size: 1.1rem;
  opacity: 0.8;
  letter-spacing: 1px;
}
.nextBtn {
  position: absolute;
  bottom: 2px;
  left: 50%;
  transform: translateX(-50%);

  padding: 12px 28px;
  background: rgba(255, 255, 255, 0.12);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 12px;

  backdrop-filter: blur(8px);

  color: #fff;
  font-size: 1rem;
  text-decoration: none;

  transition: all 0.2s ease;
}

.nextBtn:hover {
  background: rgba(255, 255, 255, 0.18);
  border-color: rgba(255, 255, 255, 0.35);
}
